* {
    box-sizing: border-box;
}

body {
    font: 12px "΢���ź�", "microsoft yahei", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #000;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, li, dt, dd, dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

#top, #logo, #nav, #content, #footer, #footer-bottom {
    margin: 0 auto;
    padding: 0;
    width: 1211px;
}

/*ҳ�沼��*/
/*���ض���*/
.fix a{
    width:60px;
    height:60px;
    background: #4aec9b;
    position:fixed;
    bottom:50px;
    right:0;
    border-radius: 50%;
    color: #ffffff;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
#top {
    /*background: #F7F9F8;*/
    border-bottom: 1px solid #E0E0E0;
    height: 35px;
}
.top_lt {
    float: left;
    height: 35px;
    line-height: 35px;
}

.top_lt li {
    float: left;
    margin: 0 15px 0 0;
}

.top_lt a {
    color: #E77817;
}

.top_lt_last {
    position: relative;
    margin-left: 10px;
}

.top_lt_last a {
    color: #2D9C37;
}

.top_lt_last b {
    position: absolute;
    top: 16px;
    left: -12px;
    width: 5px;
    height: 5px;
    border: 5px solid transparent;
    border-top-color: #2D9C37;
}

.top_rt {
    float: right;
}

.top_rt > ul > li {
    float: left;
    position: relative;
    text-align: center;
    height: 35px;
    box-sizing: border-box;
}
.top_rt > ul > li > a {
    /*border-right: 1px solid #DDDDDD;*/
    margin-top: 10px;
    text-indent: 10px;
    display: inline-block;
    height: 15px;
    width: 100px;
}
.top_rt > ul > li:hover{
    background: #ffffff;
    /*border-right:1px solid #DDDDDD;*/
    /*border-left:1px solid #DDDDDD;*/
    box-sizing: border-box;
}
.order_from {
    position: absolute;
    top: 34px;
    left: -1px;
    border: 1px solid #DDDDDD;
    border-top: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    display: none;
    z-index: 1;
}

.order_from li {
    width: 100px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
}

.shop {
    position: relative;
}

.shop b {
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url("../images/spirit.png") no-repeat -112px -10px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.top_rt i {
    display: inline-block;
    width: 16px;
    height: 12px;
    background: #F7F9F8;
    background: url("../images/spirit.png") no-repeat -37px -10px;
}

.shop ul {
    position: absolute;
    top: 34px;
    left: 0;
    border: 1px solid #DDDDDD;
    border-top: 0;
    background: #FFFFFF;
    display: none;
    z-index: 1;
}

.shop ul li {
    padding: 5px;
}

.shop > ul > li:nth-child(2) {
    /*display:inline-block;*/
    border-bottom: 1px dotted #C46E25;
    padding-bottom: 6px;
}

.order_from a {
    color: #8C8C8C;
}

.order_from a:hover {
    color: #000;
}

/*//logo*/
#logo {
    height: 110px;
}

.logo_img {
    float: left;
    margin-top: 25px;
}

.search {
    width: 400px;
    height: 65px;
    float: right;
    margin-top: 25px;
}

.search ul li {
    float: left;
    margin-right: 40px;
}

.search ul li a {
    color: #8c8c8c;
}

.search ul li a:hover {
    color: #000;
}

.shop_car a {
    width: 126px;
    height: 40px;
    float: right;
    border: 1px solid #DDDDDD;
    margin: 44px 80px 0 80px;
    text-align: center;
    line-height: 35px;
    position: relative;
}

.search_shop {
    width: 400px;
    height: 40px;
    background: #D26201;
    margin-top: 20px;
}

.search_shop input {
    width: 330px;
    height: 40px;
    border: 2px solid #D26201;
    outline: none;
    padding: 10px;
}

.search_shop button {
    width: 66px;
    height: 30px;
    color: #ffffff;
    background: #D26201;
    font-size: 14px;
    border: 0;
    outline: none;
}

.shop_c {
    position: absolute;
    top: 6px;
    left: 19px;
}

.shop_car i {
    border: 5px solid transparent;
    border-top-color: #CCCDCC;
    position: absolute;
    top: 16px;
    right: 23px;
}

.shop_img {
    width: 28px;
    height: 23px;
    position: absolute;
    top: -18px;
    left: 22px;
}

.shop_car b {
    position: absolute;
    top: -27px;
    left: 32px;
    color: #ffffff;
}

#nav {
    width: 100%;
    border-bottom: 1px solid #CD660B;
    height: 42px;
    line-height: 42px;
}

#nav > .nav {
    width: 1211px;
    margin: 0 auto;
}

.nav > ul > li {
    float: left;
}

.nav > ul > li > a {
    color: #CD660B;
    font-weight: bold;
    font-size: 15px;
    padding: 0 40px;
}

.nav > ul > li:hover {
    background: #B85B09;
}

.nav > ul > li:hover a {
    color: #ffffff;
}

#nav .nav_1 {
    background: #CD660B;
    position: relative;
}

#nav .nav_1:hover {
    background: #B85B09;
}

#nav .nav_1 > a {
    color: #FFF;
    padding-right: 100px;
    padding-left: 20px;
}

#nav .nav_1 a img {
    position: absolute;
    top: 11px;
    right: 19px;
}

.son_sort {
    width: 210px;
    min-height: 190px;
    border: 2px solid #B85B09;
    position: absolute;
    top: 43px;
    left: 0;
    padding: 0 5px 0 30px;
    display: none;
    z-index: 10;
    background: #ffffff;
}

.nav .nav_1:hover a {
    color: #000;
}

.son_sort > li > a > b {
    display: inline-block;
    width: 36px;
    height: 18px;
}

.son_sort > li > a > s {
    display: inline-block;
    width: 36px;
    height: 18px;
}

.son_sort > li > a > i {
    display: inline-block;
    width: 36px;
    height: 18px;
}

.son_sort > li b {
    background: url("../images/spirit.png") no-repeat -269px -9px;
}

.son_sort > li s {
    background: url("../images/spirit.png") no-repeat -273px -50px;
}

.son_sort > li i {
    background: url("../images/spirit.png") no-repeat -274px -98px;
}

.son_sort_sort li {
    float: left;
    line-height: 5px;
    margin-right: 8px;
}

.son_sort > li {
    margin-top: 15px;
}

#nav .son_sort_sort li a:hover {
    color: #CD660B;
}

/*�ֲ�*/
.banner_c {
    position: relative;
}

.banner_b {
    width: 9600px;
    height: 380px;
}

.banner_b > li {
    position: relative;
    left: 0;
}

.banner_b li {
    float: left;
}

.banner_c {
    width: 1920px;
    height: 380px;
    overflow: hidden;
}

.btn_list {
    position: absolute;
    bottom: 0;
    left: 27%;
}

.btn_list li {
    float: left;
    margin-right: 2px;
    text-align: center;
}

.btn_list li a {
    display: inline-block;
    width: 165px;
    height: 29px;
    line-height: 29px;
    background: #F3F9C7;
}

li.banner_move a {
    background: #D59D34;
    color: #ffffff;
}

.zone {
    margin-top: 30px;
}

.zone li {
    float: left;
}

.zone li:nth-child(2) {
    margin: 0 15px;
}

.zone:after {
    content: "";
    display: block;
    clear: both;
}

.sec {
    float: left;
    width: 978px;
    height: 276px;
    background: #FBF0EA;
}

.txt_rt {
    float: right;
    width: 223px;
    height: 276px;
    border: 1px solid #DDDDDD;
}

.limit:after {
    content: "";
    display: block;
    clear: both;
}

.sec > h2 {
    color: #FD6800;
    margin: 18px 17px 18px 25px;
}

.sec h2 img {
    float: left;
}

.sec_c {
    width: 958px;
    background: #FFF;
    min-height: 200px;
    margin: 20px 10px 10px 10px;
}

.snap_up {
    float: left;
    width: 448px;
    margin: 30px 0 0 30px;
    position: relative;
}

.sec_c .snap_up:first-child {
    border-right: 1px solid #DDDDDD;
}

.snap_up img {
    width: 115px;
    height: 115px;
    float: left;
    margin-right: 20px;
}

.snap_up_txt {
    display: inline-block;
}

.snap_up_txt p {
    font-size: 15px;
    color: #5B5B5B;
}

.snap_up_txt a {
    display: inline-block;
    height: 60px;
    margin-top: 40px;
}

.snap_up_txt a b {
    font-size: 18px;
    color: #FE0101;
}

.snap_up_txt a s {
    color: #666666;
    padding-left: 20px;
}

.snap_up_txt a p {
    margin-top: 5px;
}

.snap_up_v {
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.snap_up_v a {
    display: block;
    font-size: 14px;
    background: #FF6900;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 60px;
}

.txt_top {
    height: 46px;
    line-height: 46px;
    margin: 0 10px;
    border-bottom: 1px dotted #DBDBDB;
}

.txt_top p {
    float: left;
    font-size: 16px;
    color: #CD660B;
}

.txt_top a {
    float: right;
    color: #969696;
}

.txt_c {
    margin-top: 10px;
}

.txt_c li {
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    color: #444444;
}

.txt_c li:hover {
    border-bottom: 1px dashed #DBDBDB;
}

.shop_center {
    float:left;
    width: 978px;
    height: 276px;
    background: #FBF0EA;
    border: 1px solid #E1CBB7;
    margin-top: 17px;
    overflow: hidden;
}
.shop_lt{
    /*display:inline-block;*/
    float:left;
}
.shop_lt p a{
    display:inline-block;
    width: 125px;
    height: 45px;
    border: 1px solid #E1CBB7;
    text-align: center;
    line-height: 45px;
    color: #CD6640;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.shop_show {
    /*display: inline-block;*/
    /*border-left: 3px solid #CD660B;*/
    background: #FFFFFF;
    box-sizing: border-box;
}
.shop_a{
    display: inline-block;
}
.shop_a li{
    width: 205px;
    height: 275px;
    float:left;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    margin-left:7px;
}
.shop_a li img{
    margin-top:30px;
    width:145px;
    height:140px;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}
.shop_a li img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.shop_a li h3{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
}
.shop_a li span{
    color:#8C9090;
}
.shop_a li p{
    margin-top: 10px;
    color:#FF7200;
    font-size:16px;
}
.shop_a li s{
    color:#686C69;
    font-size:12px;
}
.shop_a li button{
    width: 170px;
    height:30px;
    background:#FF6900;
    outline: none;
    border: 0;
    font-weight: bold;
    color: #ffffff;
    position:relative;
    top:30px;
    cursor: pointer;
    -webkit-transition:  top .3s linear;
    -moz-transition: top .3s linear;
    -ms-transition:  top .3s linear;
    -o-transition:  top .3s linear;
    transition: top .3s linear;
}
.shop_a li:hover button{
    top: 0;
}
.shop_a li:hover{
    -webkit-box-shadow:0px 0px 10px 4px #ddd;
    -moz-box-shadow:0px 0px 10px 4px #ddd;
    box-shadow:0px 0px 10px 4px #ddd;
}
.shop_rt{
    float:right;
    margin-top:17px;
}
.shop_into:after{
    content:"";
    display:block;
    clear:both;
}
.shop_b{
    margin-left:126px;
}
.shop_a{
    height:275px;
    position: relative;
    top:0;
}
.goods_list{
    height:53px;
    background:#F7F3F2;
    line-height: 53px;
    border-bottom: 1px solid #3FA536;
}
.goods_list h1{
    float:left;
    margin-left:23px;
    color:#3FA536;
}
.list_inline{
    float:right;
}
.list_inline li{
    float:left;
    ;
}
.list_inline a{
    border-right:1px solid #5A98C4;
    padding:0 12px
}
.list_inline a:hover{
    color:#F69A08;
}
.list_inline li:last-child a{
    color:#F69A08;
}
.goods_lt{
    float:left;
    padding:10px 0;
}
.goods_c{
    width: 290px;
    height: 610px;
    float:left;
}
.goods:after{
    content:"";
    display:block;
    clear:both;
}
.goods_lt:after{
    content:"";
    display:block;
    clear:both;
}
.goods_c{
    width: 1211px;
}
.lt_list{
    width: 290px;
}
.lt_list li{
    float:left;
    text-align: center;
    margin:1px;
}
.lt_list li a{
    width:92px;
    height:23px;
    line-height: 23px;
    float:left;
    border:1px solid #CD660B;
    color:#CD660B;
}
.lt_c{
    width: 920px;
    height:600px;
    float:left;
    /*border:1px solid #000000;*/
}
.list_img img{
    width:205px;
    height:205px;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}
.list_img img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.lt_c:hover::before{
    -webkit-transition: left 3s;
    -moz-transition: left 3s;
    -ms-transition: left 3s;
    -o-transition: left 3s;
    transition: left 3s;
    left:1211px;
}
.goods{
    position:relative;
}
.lt_c:before{
    /*border: 1px solid red;*/
    content: "";
    position: absolute;
    width: 20px;
    height: 600px;
    top:53px;
    left: -350px;
    overflow: hidden;
    transform: skewX(-25deg);
    background: linear-gradient(to right,rgba(255,255,255,0.2) 0,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.2) 100%);
}
.list_img li{
    float:left;
    width:205px;
    height:295px;
    /*border:1px solid #000000;*/
    overflow: hidden;
    margin-left: 22px;
    margin-top:3px ;
    /*text-align: center;*/
}
.list_p h3{
    font-weight: normal;
    padding-bottom: 8px ;
}
.list_p span{
    font-weight: bold;
    font-size: 18px;
    color:#FF6900;
}
.list_p span s{
    font-size: 12px;
    color:#686C69;
}
.list_p{
    margin-top: 5px;
    position: relative;
    top: 33px;
    -webkit-transition: top .5s linear;
    -moz-transition: top .5s linear;
    -ms-transition: top .5s linear;
    -o-transition: top .5s linear;
    transition: top .5s linear;
}
.list_img li:hover .list_p{
    top: 0;
}
.list_p p button{
    width: 205px;
    height:30px;
    background:#FF6900;
    outline: none;
    border: 0;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.footer_lt{
    width:352px;
    height:203px;
    margin: 40px 0;
    border-bottom:1px solid #EEEEEE;
    float:left;
}
.footer_lt>ul{
    height:35px;
    line-height: 30px;
    border-bottom:1px solid #EEEEEE;
}
.footer_lt>ul>li:first-child{
    float:left;
    font-size:16px;
}
.footer_lt>ul>li:last-child{
    float:right;
}
.footer_img{
    margin:20px 0;
}
.footer_img img{
    width:168px;
    height:124px;
}
.footer_img ul{
    float:right;
}
.footer_img ul li{
    margin-bottom:12px;
}
.footer_center{
    margin-left:56px;
    margin-right: 56px;
}
#footer:after{
    content:"";
    display:block;
    clear:both;
}
.renovate{
    position: relative;
}
.renovate img{
    position: absolute;
    top: 5px;;
    left: -20px;
}
.bask img{
    width:55px;
    height:55px;
    margin-right: 20px;
}
.bask{
    margin: 20px 0;
}
.bask ul li{
    float:left;
    margin-bottom: 20px;
}
.bask ul li img{
     float:left;
 }
.bask ul li span{
    color:#FF6900;
}
.bask ul li p{
    margin-top:12px;
    float:left;
}
.footer-rt li img{
    width:80px;
    height:80px;
}
.footer-rt{
    margin:20px 0;
}
.footer-rt ul li{
    float:left;
    margin-right:8px;
}
.bottom_icon{
    height:102px;
    border-top:2px solid #E1CBB7;
    border-bottom:2px solid #E1CBB7;
}
.bottom_icon img{
    vertical-align: middle;
}
.bottom_icon ul li{
    float:left;
    height:65px;
    border-right: 1px solid #E1CBB7;
    font-size:23px;
    color:#555555;
    margin:20px 0;
    padding:0 34px;
}
.bottom_icon ul li:first-child{
    padding-left:0;
}
.bottom_icon ul li:last-child{
    border-right:0;
}
.vertical{
    margin:45px 0 20px 40px;
    border-bottom:1px dashed #DDDDDD ;
    padding-bottom: 30px;
}
.vertical:after{
    content: '';
    display:block;
    clear: both;
}
.vertical_b{
    float:left;
}
.vertical_b h2{
    margin-top:35px;
    padding-left:15px;
    margin-bottom: 5px;
    color:#646464;
}
.vertical_b p{
    padding-left:15px;
    color:#969696;
}
.vartical_list ul{
    float:left;
    margin: 0 55px 0 45px;
}
.vartical_list ul li{
    margin-bottom:15px;
}
.vartical_list ul li a{
    color:#888888;
}
.vartical_list ul li:first-child a{
    font-size:14px;
    color:#5E5E60;
}
.vartical_rt li{
    float:left;
    margin-right: 47px;
}
.vartical_rt li p{
    font-size: 14px;
    color:#7A5555;
}
.vartical_rt li img{
    width:108px;
    height:108px;
}
.footer_bound{
    width: 100%;
    margin-top: 15px;
    height: 100px;
    text-align: center;
}
.footer_bound ul{
    height: 16px;
    width: 705px;
    margin: 0 auto;
    color: #666;
}
.footer_bound ul li{
    display:inline-block;
}
.footer_bound ul li a{
    color: #666;
    font-size: 13px;
    padding: 0 8px;
}
.footer_b{
    text-align: center;
    color:#999999;
}
.footer_b span a{
    color:#0000EE;
    font-size:14px;
    font-weight: bold;
}
.footer_b ul{
    margin:24px 0;
}
.footer_b ul li{
    display:inline-block;
    height: 16px;
}
.footer_b ul li a{
    color:#956666;
    display:inline-block;
    padding:0 10px;
}
/*ˮ����ʳ�����*/
.fruit{
    background: #FBF4E8;
    border-bottom-color: #F69A08;
}
.fruit h1{
    color:#F69A08;
}
.fruit li a:hover{
    color:#F69A08;
}
.fruit li:last-child a{
    color:#F69A08;
}
.sock{
    background: #EAF7FB;
    border-bottom-color: #0B9DCD;
}
.sock h1{
    color:#0B9DCD;
}
.sock li a:hover{
    color:#0B9DCD;
}
.sock li:last-child a{
    color:#0B9DCD;
}
.gift{
    background: #FBF0EA;
    border-bottom-color: #E70908;
}
.gift h1{
    color:#E70908;
}
.gift li a:hover{
    color:#E70908;
}
.gift li:last-child a{
    color:#E70908;
}